// Place all the styles related to the arps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/





body {
    padding-top:    50px;
    padding-bottom: 130px;

}


h1{

  padding-left: 400px;
}


.scrollup {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  display: none;
  text-indent: -9999px;
  background: no-repeat;
  background-color: #45e695;
}







